.update {
    margin: top 0;
    background: lightblue;
    box-shadow: 0 8px 32px 0 rgba(30, 43, 223, 0.8);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: larger;
}

.inputupdate {
    box-shadow: 0 8px 32px 0 rgba(30, 43, 223, 0.8);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-radius: 40px;
}

.Updatetitle {
    justify-content: end;
    text-align: center;
    color: brown;
    box-shadow: 0 8px 32px 0 rgba(30, 43, 223, 0.8);
    border-radius: 40px;
    font-weight: bold;
    font-size: larger;
    width: 250px;
    margin: auto;
}


/*p={1}*/