.bookDiv {
    padding-top: 0;
    background-color: lightblue;
}

ul {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    padding: 20px;
    margin: 20px;
    width: 250px;
    max-width: 250px;
    max-height: 450px;
    list-style-type: none;
    justify-content: flex-start;
}

.book-title {
    font-weight: bold;
    font-size: larger;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(30, 43, 223, 1);
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.card {
    margin: auto;
    height: 350px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(30, 43, 223, 1);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    text-align: center;
    align-items: center;
    padding: 15px;
    /* align-items: flex-start;
    align-content: flex-start; */
}

.card>img {
    margin: auto;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin-top: -40px;
}

.btn2 {
    width: 180px;
    height: 30px;
    box-shadow: 0 8px 32px 0 rgba(30, 43, 223, 1);
}